<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <ul>
        {% for usuario in usuarios %}
        <li>
             <ul>
                <li>Nome: {{ usuario.nome }}</li>
                <li>Matrícula: {{ usuario.matricula }}</li>
                <li>Idade: {{ usuario.idade }}</li>
                <li>Cidade: {{ usuario.cidade }}</li>
             </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>